<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.4.0/remixicon.css" crossorigin="">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@500&family=Inter&family=Poppins&family=Roboto&display=swap" rel="stylesheet">
</head>
<div class="container-div">
<app-price title="Bronze" button="See More"></app-price>
  <app-price title="Silver" button="See More"></app-price>
  <app-price title="Gold" button="See More"></app-price>


</div>

